{% extends 'base.html' %}
{% load static %}

{% block select2_link %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block style %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-9"><h1 style="text-align: center;">Weather for the particular city</h1></div>
            <div class="col-2 align-self-center">
                <a href="{% url 'show' %}" class="btn btn-info float-end">Show saved</a>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-12">
                <form action="{% url 'select_input' %}" method="post">
                    {% csrf_token %}
                    {{ form_input.non_field_errors }}
                      <div class="mb-3">
                        <label for="{{ form_input.city_name.id_for_label }}" class="form-label">
                            City INPUT:
                        </label>
                          {{ form_input.city_name }}
                        <div class="invalid-feedback">
                            {{ form_input.city_name.errors}}
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-11"></div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary float-end">Find</button>
                        </div>
                    </div>
                </form>
                <br>

                <form action="{% url 'select_select' %}" method="post">
                    {% csrf_token %}
                    {{ form_select.non_field_errors }}
                        <div class="mb-3">
                            <label for="{{ form_select.city.id_for_label }}" class="form-label">
                                City SELECT:
                            </label>
                              {{ form_select.city}}
                            <div class="invalid-feedback">
                                {{ form_select.city.errors}}
                            </div>
                          </div>
                    <div class="row">
                        <div class="col-11"></div>
                        <div class="col-1">
                            <button type="submit" class="btn btn-primary float-end">Find</button>
                        </div>
                    </div>
                </form>
                <br>

                <form action="{% url 'autocomplete' %}" method="post">
                        {% csrf_token %}
                        {{ form_autocomplete.non_field_errors }}
                            <div class="mb-3">
                                <label for="{{ form_autocomplete.id_for_label }}" class="form-label"></label>
                                  {{ form_autocomplete.as_table }}
                                <div class="invalid-feedback">
                                    {{ form_autocomplete.errors}}
                                </div>
                              </div>
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary float-end">Find</button>
                            </div>
                        </div>
                    </form>

                {% if messages %}
                    <ul class="messages" id="hidable">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href="https://gitlab.com/AndriiSventukh/weather-django" class="btn btn-outline-success">Project source code (git)...</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {{form.media}}
    <script>
        $(document).ready(function() {
            $('#id_city2').select2(
                {
                    ajax: {
                        url: "{% url 'autocomplete' %}",
                        dataType: 'json',
                        processResults: function (data) {
                                    console.log(data)
                            return {
                                results: $.map(data, function (item) {
                                    return {'id': item.id, text: item.title};
                                })
                            };
                        }
                    },
                    minimumInputLength: 3
                }
            );
        });
    </script>
{% endblock %}
