body {
    background-color: whitesmoke;
}

.errorlist{
    color: red;
}

.success {
    color: #13653f !important;
}

.warning {
    color: #fd7e14 !important;
}

.error {
    color: red !important;
}

