{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block select2_link %} {% endblock %}
    {% block style %} {% endblock %}

    <title></title>

  </head>
  <body>

    {% block body %} {% endblock %}

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/hide.js' %}"></script>

    {% block script %}{% endblock %}

  </body>
</html>