{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/show.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-3 align-self-center justify-content-start">
            <a href="{% url 'select' %}" class="btn btn-info btn-xs btn-margin">Add new weatherstamp</a>
        </div>
        <div class="col-6 text-center">
            <h1>WeatherStamps</h1>
        </div>
        <div class="col-3 align-self-center">
            <a href="{% url 'show' %}" class="btn btn-info float-end">Show ALL</a>
        </div>
    </div>

    <div class="row p-3">
        <div class="col-12 p-2 bg-white">

            <form class="row mb-2" action="{% url 'show' %}" method="get">
                <div class="col-5">
                    {{ filter_form.city}}
                </div>
                <div class="col-3">
                    <label for="{{ filter_form.date_from.id_for_label }}" class="visually-hidden">Password</label>
                    {{ filter_form.date_from }}
                </div>
                <div class="col-3">
                    <label for="{{ filter_form.date_till.id_for_label }}" class="visually-hidden">Password</label>
                    {{ filter_form.date_till }}
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-outline-secondary float-end">Filter</button>
                </div>
            </form>

            <table class="table table-hover table-dark table-bordered border-dark">
            <thead>
                <tr>
                    <th class="col-2">City</th>
                    <th class="col-3">Weather</th>
                    <th>Temperature</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                    <th>Visibility</th>
                    <th>Wind</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for wstamp in wpage.object_list %}
                <tr class="table table-bordered border-dark">
                    <td class="col-2">{{ wstamp.stamp.city}}</td>
                    <td class="col-3">
                        {{ wstamp.stamp.weather.description }}
                        {% for icon in wstamp.icons %}
                            <img class="icon" src="http://openweathermap.org/img/wn/{{ icon }}@2x.png">
                        {% endfor %}
                    </td>
                    <td>{{ wstamp.stamp.temp|add:-273.15 }}</td>
                    <td>{{ wstamp.stamp.pressure }}</td>
                    <td>{{ wstamp.stamp.humidity }}%</td>
                    <td>{{ wstamp.stamp.visibility }}m</td>
                    <td>{{ wstamp.stamp.wind_speed }}m/s</td>
                    <td>{{ wstamp.stamp.created_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            </table>

            {% if is_paginated %}
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        {% if prev_url %}
                            <li class="page-item">
                                <a class="page-link" href="{{ prev_url }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                        {% endif %}

                        {% for num in wpage.paginator.page_range %}
                            {% if num == wpage.number %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ num }}{{ form_data }}">{{ num }}</a>
                                </li>
                            {% elif num > wpage.number|add:-3 and num < wpage.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}{{ form_data }}">{{ num }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                        {% if next_url %}
                            <li class="page-item">
                                <a class="page-link" href="{{ next_url }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="" tabindex="-1" aria-disabled="true">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}

